* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: beige;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

nav {
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
    gap: 50px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
}

.container-AddBusc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    padding: 20px;
    margin: 10px;
    background-color: blanchedalmond;
    flex: 1 1 70px;
}

.container-result {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    margin: 10px;
    background-color: blanchedalmond;
    flex: 4 4;
}

.adicionar {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.label-form-add {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.busca {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.form-selecao {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
    justify-content: space-between;
}

footer {
    background-color: beige;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}